n8n/workflows/blog-post-workflow.json
{
  "name": "Blog Post Creation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Define blog post content\nconst blogPost = {\n  title: \"Your Blog Post Title\",\n  slug: \"your-blog-post-slug\",\n  excerpt: \"A brief summary of your blog post...\",\n  content: \"<h2>Introduction</h2><p>Your blog content here...</p>\",\n  tags: [\"technology\", \"automation\"],\n  categories: [\"tutorials\"],\n  status: \"DRAFT\", // DRAFT, SCHEDULED, or PUBLISHED\n  seoTitle: \"SEO Optimized Title | Your Site\",\n  seoDescription: \"Meta description for search engines...\"\n};\n\nreturn [{ json: blogPost }];"
      },
      "id": "prepare-content",
      "name": "Prepare Blog Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OIKION_API_URL}}/blog/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $json.excerpt }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.tags }}"
            },
            {
              "name": "categories",
              "value": "={{ $json.categories }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "seoTitle",
              "value": "={{ $json.seoTitle }}"
            },
            {
              "name": "seoDescription",
              "value": "={{ $json.seoDescription }}"
            },
            {
              "name": "n8nWorkflowId",
              "value": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-blog-post",
      "name": "Create Blog Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Oikion API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OIKION_API_URL}}/n8n/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "workflow.completed"
            },
            {
              "name": "workflowId",
              "value": "={{ $workflow.id }}"
            },
            {
              "name": "executionId",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "data",
              "value": "={{ { blogPostId: $json.data.post.id, title: $json.data.post.title } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-completion",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Blog Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Blog Content": {
      "main": [
        [
          {
            "node": "Create Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blog Post": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["blog", "content", "automation"]
}
